---
layout: default
title: Hack && Tell DC
---

<div id="home">
  <div id="links">
    <h1>Upcoming Meetup: Check the <a href="http://www.meetup.com/DC-Hack-and-Tell/">meetup site</a>!</h1>

    <a href="http://www.meetup.com/DC-Hack-and-Tell/"
       class="button red">
      MeetUp Link
    </a>

    <!-- old hackpad: https://hackpad.com/sHmljSNxt0U -->
    <a href="https://docs.google.com/document/d/1DM_qVHEGPNP-UzSGKNlee8lmroNqap4Fg4RgERxxTiY/edit"
       class="button green">
      Live Notes
    </a>

    <a href="https://twitter.com/dchackandtell"
       class="button orange">
      Twitter
    </a>

    <a href="https://docs.google.com/forms/d/15F33kAQFgI825JECUI7uAqXrdgbr1dkjO0DRK4MOKq4/viewform"
       class="button blue">
      Sign Up to Speak
    </a>
    
  </div>

  <h1>Press</h1>
  <ul class="posts">

    <li>
      <span>08 Mar 2018</span> &raquo;
      <a href="https://dev.to/jessicagarson/how-giving-lightning-talks-helped-me-gain-technical-confidence--2omm">
        How Giving Lightning Talks Helped Me Gain Technical Confidence</a>
    </li>

    <li>
      <span>05 Apr 2016</span> &raquo;
      <a href="https://medium.com/entrepreneur-s-handbook/how-to-hack-twitter-using-data-science-8606c8ece0eb#.ae3merr1t">
	Spread a message to millions: How I learned to hack Twitter using data science</a>
    </li>

    <li>
      <span>18 Nov 2015</span> &raquo;
      <a href="http://technical.ly/dc/2015/11/18/dcs-hack-tell-thrives-random-creations/">
	DC's Hack and Tell thrives on your random creations</a> (technica.ly)
    </li>

    <li>
      <span>02 Sep 2015</span> &raquo;
      <a href="http://www.buzzfeed.com/hamzashaban/today-ai-learned#.arYXvXgzL">
	Meet The Man Who Gamed Reddit With A Bot</a> (BuzzFeed)
    </li>


    <li>
      <span>14 Nov 2014</span> &raquo;
      <a href="http://wamu.org/programs/metro_connection/14/11/14/show_and_tell_for_the_hacker_crowd">Show-And-Tell For The Hacker Crowd</a> (WAMU)
    </li>
    
  </ul>

  <h1>Previous Meetup Write Ups</h1>
  <ul class="posts">
    {% for post in site.posts %}
    <li>
      <span>{{ post.date | date_to_string }}</span>
      &raquo;
      {% if post.status == "canceled" %}
      <i>{{post.title}}</i>
      {% elsif post.status == "notext" %}
      {{post.title}}
      {% else %}
      <a href="{{ post.url }}">{{post.title}}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
